<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Contact Us Form  | CodingLab </title>-->
    <link rel="stylesheet" href="/css/style_contact.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
   </head>
<body>

    <header class="navbar">
        <h1 class="name-sm disp visi">Mind Valley</h1>
        <img src="/images_contact/logo2.png" alt="Logo">
        
        <div class="nav-list v-class">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
            <a href="/checkups">Checkups</a>
            <a href="/meditation">Meditation</a>
            <a href="/games">Games</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="signDiv">
            <a class="sign-in v-class" href="/register">Sign in</a>
        </div>
        
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="content">
              <div class="left-side">
                <div class="address details">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="topic">Address</div>
                  <div class="text-one">Vellore Institute of Technology</div>
                  <div class="text-two">Bhopal</div>
                </div>
                <div class="phone details">
                  <i class="fas fa-phone-alt"></i>
                  <div class="topic">Phone</div>
                  <div class="text-one">+0098 9893 5647</div>
                  <div class="text-two">+0096 3434 5678</div>
                </div>
                <div class="email details">
                  <i class="fas fa-envelope"></i>
                  <div class="topic">Email</div>
                  <div class="text-one">mindvalley@gmail.com</div>
                  <div class="text-two">info.mindvalley@gmail.com</div>
                </div>
              </div>
              <div class="right-side">
                <div class="topic-text">Send us a message</div>
                <p>If you have any type of queries related to our website, you can send us a message from here. It will be our pleasure to help you.</p>
              <form action="#">
                <div class="input-box">
                  <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                  <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box message-box">
                  <textarea name="" id="" cols="30" rows="10" placeholder="Send us a message"></textarea>
                </div>
                <div class="button">
                  <input type="button" value="Send Now" >
                </div>
              </form>
            </div>
            </div>
          </div>
    </section>
  
</body>
</html>