<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snow Dodge</title>
    <link rel="stylesheet" href="/css/style_snow.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<body>
    <div class="img1">
        <img src="/images_snow/img1.png" alt="">
    </div>
    
    <div>
        <iframe frameborder="0" src="https://itch.io/embed-upload/7341379?color=333333" allowfullscreen="" width="960" height="660"><a href="https://crimsonking47.itch.io/snow-dodge">Play Snow dodge on itch.io</a></iframe>
    </div>
    <div class="img2">
        <img src="/images_snow/img2.png" alt="">
    </div>
</body>
</html>