<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Valley</title>

    <link rel="stylesheet" href="/css/styles_home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">



</head>
<body>
    <section>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><rect width="1920" height="1080" fill="#069a8e"/><path d="M 0,1080 C 0,1080 0,180 0,180 C 155.33333333333331,212.8 310.66666666666663,245.6 483,233 C 655.3333333333334,220.4 844.6666666666667,162.4 1087,146 C 1329.3333333333333,129.6 1624.6666666666665,154.8 1920,180 C 1920,180 1920,1080 1920,1080 Z" fill="#faffaf" opacity="0.09999999999999999"/><path d="M 0,1080 C 0,1080 0,360 0,360 C 211.46666666666664,336.5333333333333 422.9333333333333,313.06666666666666 632,319 C 841.0666666666667,324.93333333333334 1047.7333333333336,360.26666666666665 1262,372 C 1476.2666666666664,383.73333333333335 1698.1333333333332,371.8666666666667 1920,360 C 1920,360 1920,1080 1920,1080 Z" fill="#faffaf" opacity="0.19999999999999998"/><path d="M 0,1080 C 0,1080 0,540 0,540 C 48.93333333333334,562 97.86666666666667,584 334,566 C 570.1333333333333,548 993.4666666666667,490.00000000000006 1289,479 C 1584.5333333333333,467.99999999999994 1752.2666666666667,504 1920,540 C 1920,540 1920,1080 1920,1080 Z" fill="#faffaf" opacity="0.3"/><path d="M 0,1080 C 0,1080 0,720 0,720 C 346.5333333333334,694.2666666666667 693.0666666666668,668.5333333333334 954,665 C 1214.9333333333332,661.4666666666666 1390.2666666666667,680.1333333333333 1537,693 C 1683.7333333333333,705.8666666666667 1801.8666666666668,712.9333333333334 1920,720 C 1920,720 1920,1080 1920,1080 Z" fill="#faffaf" opacity="0.39999999999999997"/><path d="M 0,1080 C 0,1080 0,900 0,900 C 100.13333333333333,916.6666666666666 200.26666666666665,933.3333333333333 434,944 C 667.7333333333333,954.6666666666667 1035.0666666666666,959.3333333333334 1305,951 C 1574.9333333333334,942.6666666666666 1747.4666666666667,921.3333333333333 1920,900 C 1920,900 1920,1080 1920,1080 Z" fill="#faffaf" opacity="0.49999999999999994"/></svg> -->
        <!-- <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(101.726, 255, 197.36, 1)" offset="0%"></stop><stop stop-color="rgba(79.167, 118.03, 198.45, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,49L26.7,81.7C53.3,114,107,180,160,228.7C213.3,278,267,310,320,334.8C373.3,359,427,376,480,383.8C533.3,392,587,392,640,334.8C693.3,278,747,163,800,98C853.3,33,907,16,960,8.2C1013.3,0,1067,0,1120,49C1173.3,98,1227,196,1280,245C1333.3,294,1387,294,1440,302.2C1493.3,310,1547,327,1600,334.8C1653.3,343,1707,343,1760,302.2C1813.3,261,1867,180,1920,179.7C1973.3,180,2027,261,2080,269.5C2133.3,278,2187,212,2240,196C2293.3,180,2347,212,2400,253.2C2453.3,294,2507,343,2560,310.3C2613.3,278,2667,163,2720,171.5C2773.3,180,2827,310,2880,318.5C2933.3,327,2987,212,3040,163.3C3093.3,114,3147,131,3200,138.8C3253.3,147,3307,147,3360,155.2C3413.3,163,3467,180,3520,220.5C3573.3,261,3627,327,3680,343C3733.3,359,3787,327,3813,310.3L3840,294L3840,490L3813.3,490C3786.7,490,3733,490,3680,490C3626.7,490,3573,490,3520,490C3466.7,490,3413,490,3360,490C3306.7,490,3253,490,3200,490C3146.7,490,3093,490,3040,490C2986.7,490,2933,490,2880,490C2826.7,490,2773,490,2720,490C2666.7,490,2613,490,2560,490C2506.7,490,2453,490,2400,490C2346.7,490,2293,490,2240,490C2186.7,490,2133,490,2080,490C2026.7,490,1973,490,1920,490C1866.7,490,1813,490,1760,490C1706.7,490,1653,490,1600,490C1546.7,490,1493,490,1440,490C1386.7,490,1333,490,1280,490C1226.7,490,1173,490,1120,490C1066.7,490,1013,490,960,490C906.7,490,853,490,800,490C746.7,490,693,490,640,490C586.7,490,533,490,480,490C426.7,490,373,490,320,490C266.7,490,213,490,160,490C106.7,490,53,490,27,490L0,490Z"></path></svg> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><rect width="1920" height="1080" fill="#737bc9"/><path d="M 0,1080 C 0,1080 0,270 0,270 C 11.199999999999989,246.39999999999998 22.399999999999977,222.79999999999998 339,203 C 655.6,183.20000000000002 1277.6,167.2 1592,179 C 1906.4,190.8 1913.2,230.4 1920,270 C 1920,270 1920,1080 1920,1080 Z" fill="#9ed5c5" opacity="0.15"/><path d="M 0,1080 C 0,1080 0,540 0,540 C 204.93333333333334,516.6666666666666 409.8666666666667,493.33333333333326 669,504 C 928.1333333333333,514.6666666666667 1241.4666666666667,559.3333333333334 1459,571 C 1676.5333333333333,582.6666666666666 1798.2666666666667,561.3333333333333 1920,540 C 1920,540 1920,1080 1920,1080 Z" fill="#9ed5c5" opacity="0.3"/><path d="M 0,1080 C 0,1080 0,810 0,810 C 28,763.3333333333334 56,716.6666666666667 311,746 C 566,775.3333333333333 1048,880.6666666666666 1354,904 C 1660,927.3333333333334 1790,868.6666666666667 1920,810 C 1920,810 1920,1080 1920,1080 Z" fill="#9ed5c5" opacity="0.44999999999999996"/></svg> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><rect width="1920" height="1080" fill="#def5e5"/><path d="M 0,1080 C 0,1080 0,154 0,154 C 107.35897435897434,175.97692307692307 214.71794871794867,197.95384615384614 326,200 C 437.2820512820513,202.04615384615386 552.4871794871796,184.16153846153847 652,158 C 751.5128205128204,131.83846153846153 835.3333333333333,97.39999999999999 949,98 C 1062.6666666666667,98.60000000000001 1206.1794871794873,134.23846153846154 1331,150 C 1455.8205128205127,165.76153846153846 1561.9487179487178,161.64615384615385 1657,159 C 1752.0512820512822,156.35384615384615 1836.025641025641,155.17692307692306 1920,154 C 1920,154 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.08571428571428572"/><path d="M 0,1080 C 0,1080 0,308 0,308 C 77.55128205128207,297.7948717948718 155.10256410256414,287.5897435897436 266,280 C 376.89743589743586,272.4102564102564 521.1410256410255,267.43589743589746 632,263 C 742.8589743589745,258.56410256410254 820.3333333333335,254.66666666666663 924,281 C 1027.6666666666665,307.33333333333337 1157.5256410256409,363.89743589743597 1275,365 C 1392.4743589743591,366.10256410256403 1497.5641025641025,311.7435897435897 1603,293 C 1708.4358974358975,274.2564102564103 1814.2179487179487,291.12820512820514 1920,308 C 1920,308 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.17142857142857143"/><path d="M 0,1080 C 0,1080 0,462 0,462 C 76.64615384615385,460.9589743589744 153.2923076923077,459.9179487179487 272,462 C 390.7076923076923,464.0820512820513 551.4769230769231,469.2871794871795 670,479 C 788.5230769230769,488.7128205128205 864.8,502.9333333333333 946,512 C 1027.2,521.0666666666667 1113.323076923077,524.9794871794873 1222,516 C 1330.676923076923,507.02051282051275 1461.9076923076925,485.1487179487179 1582,474 C 1702.0923076923075,462.8512820512821 1811.0461538461536,462.4256410256411 1920,462 C 1920,462 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.2571428571428571"/><path d="M 0,1080 C 0,1080 0,617 0,617 C 81.26666666666668,593.0692307692307 162.53333333333336,569.1384615384615 262,560 C 361.46666666666664,550.8615384615385 479.1333333333333,556.5153846153847 589,572 C 698.8666666666667,587.4846153846153 800.9333333333333,612.8 911,631 C 1021.0666666666667,649.2 1139.1333333333334,660.2846153846153 1250,653 C 1360.8666666666666,645.7153846153847 1464.5333333333333,620.0615384615385 1575,611 C 1685.4666666666667,601.9384615384615 1802.7333333333333,609.4692307692308 1920,617 C 1920,617 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.34285714285714286"/><path d="M 0,1080 C 0,1080 0,771 0,771 C 79.45641025641027,766.2076923076922 158.91282051282053,761.4153846153846 269,761 C 379.08717948717947,760.5846153846154 519.8051282051281,764.5461538461539 631,757 C 742.1948717948719,749.4538461538461 823.8666666666666,730.4000000000001 920,749 C 1016.1333333333334,767.5999999999999 1126.7282051282054,823.8538461538461 1235,815 C 1343.2717948717946,806.1461538461539 1449.2205128205128,732.1846153846153 1563,714 C 1676.7794871794872,695.8153846153847 1798.3897435897436,733.4076923076923 1920,771 C 1920,771 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.4285714285714286"/><path d="M 0,1080 C 0,1080 0,925 0,925 C 94.00256410256412,921.8871794871795 188.00512820512824,918.774358974359 306,908 C 423.99487179487176,897.225641025641 565.9820512820512,878.7897435897436 663,895 C 760.0179487179488,911.2102564102564 812.0666666666668,962.0666666666667 922,962 C 1031.9333333333332,961.9333333333333 1199.751282051282,910.9435897435897 1329,903 C 1458.248717948718,895.0564102564103 1548.9282051282053,930.1589743589744 1641,941 C 1733.0717948717947,951.8410256410256 1826.5358974358974,938.4205128205128 1920,925 C 1920,925 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.5142857142857142"/><path d="M 0,1080 C 0,1080 0,1079 0,1079 C 101.53333333333336,1067.5538461538463 203.06666666666672,1056.1076923076923 329,1059 C 454.9333333333333,1061.8923076923077 605.2666666666665,1079.123076923077 695,1079 C 784.7333333333335,1078.876923076923 813.8666666666666,1061.4 911,1075 C 1008.1333333333334,1088.6 1173.2666666666669,1133.2769230769231 1298,1124 C 1422.7333333333331,1114.7230769230769 1507.0666666666668,1051.4923076923076 1604,1035 C 1700.9333333333332,1018.5076923076924 1810.4666666666667,1048.753846153846 1920,1079 C 1920,1079 1920,1080 1920,1080 Z" fill="#737bc9" opacity="0.6"/></svg> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><rect width="1920" height="1080" fill="#f939d6"/><path d="M 0,1080 C 0,1080 0,154 0,154 C 111.55897435897435,176.7871794871795 223.1179487179487,199.57435897435897 339,197 C 454.8820512820513,194.42564102564103 575.0871794871795,166.4897435897436 693,164 C 810.9128205128205,161.5102564102564 926.5333333333333,184.46666666666667 1010,178 C 1093.4666666666667,171.53333333333333 1144.7794871794872,135.64358974358976 1228,117 C 1311.2205128205128,98.35641025641024 1426.3487179487179,96.95897435897436 1547,106 C 1667.6512820512821,115.04102564102564 1793.825641025641,134.5205128205128 1920,154 C 1920,154 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.08571428571428572"/><path d="M 0,1080 C 0,1080 0,308 0,308 C 82.96410256410257,290.2641025641026 165.92820512820515,272.5282051282051 262,273 C 358.07179487179485,273.4717948717949 467.25128205128215,292.15128205128207 600,313 C 732.7487179487179,333.84871794871793 889.0666666666666,356.86666666666673 1015,346 C 1140.9333333333334,335.13333333333327 1236.4820512820513,290.38205128205124 1333,277 C 1429.5179487179487,263.61794871794876 1527.0051282051284,281.6051282051282 1625,292 C 1722.9948717948716,302.3948717948718 1821.497435897436,305.19743589743587 1920,308 C 1920,308 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.17142857142857143"/><path d="M 0,1080 C 0,1080 0,462 0,462 C 75.58461538461538,493.57948717948716 151.16923076923075,525.1589743589743 272,516 C 392.83076923076925,506.8410256410256 558.9076923076923,456.94358974358977 688,444 C 817.0923076923077,431.05641025641023 909.1999999999998,455.0666666666667 1016,457 C 1122.8000000000002,458.9333333333333 1244.2923076923078,438.7897435897435 1335,449 C 1425.7076923076922,459.2102564102565 1485.6307692307691,499.77435897435896 1578,507 C 1670.3692307692309,514.225641025641 1795.1846153846154,488.1128205128205 1920,462 C 1920,462 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.2571428571428571"/><path d="M 0,1080 C 0,1080 0,617 0,617 C 135.58461538461538,650.2897435897436 271.16923076923075,683.5794871794872 364,671 C 456.83076923076925,658.4205128205128 506.9076923076924,599.9717948717949 610,595 C 713.0923076923076,590.0282051282051 869.2,638.5333333333334 992,655 C 1114.8,671.4666666666666 1204.2923076923078,655.8948717948717 1295,632 C 1385.7076923076922,608.1051282051283 1477.6307692307694,575.8871794871795 1582,572 C 1686.3692307692306,568.1128205128205 1803.1846153846154,592.5564102564102 1920,617 C 1920,617 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.34285714285714286"/><path d="M 0,1080 C 0,1080 0,771 0,771 C 136.18974358974359,795.8692307692307 272.37948717948717,820.7384615384615 372,814 C 471.62051282051283,807.2615384615385 534.6717948717949,768.9153846153847 622,754 C 709.3282051282051,739.0846153846153 820.9333333333334,747.6 935,751 C 1049.0666666666666,754.4 1165.5948717948718,752.6846153846154 1277,745 C 1388.4051282051282,737.3153846153846 1494.6871794871797,723.6615384615385 1601,727 C 1707.3128205128203,730.3384615384615 1813.6564102564103,750.6692307692308 1920,771 C 1920,771 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.4285714285714286"/><path d="M 0,1080 C 0,1080 0,925 0,925 C 104.2205128205128,904.8076923076924 208.4410256410256,884.6153846153846 307,899 C 405.5589743589744,913.3846153846154 498.4564102564103,962.3461538461539 596,980 C 693.5435897435897,997.6538461538461 795.7333333333333,983.9999999999999 908,976 C 1020.2666666666667,968.0000000000001 1142.6102564102564,965.6538461538463 1246,946 C 1349.3897435897436,926.3461538461537 1433.825641025641,889.3846153846155 1543,883 C 1652.174358974359,876.6153846153845 1786.0871794871796,900.8076923076923 1920,925 C 1920,925 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.5142857142857142"/><path d="M 0,1080 C 0,1080 0,1079 0,1079 C 91.3692307692308,1105.7923076923078 182.7384615384616,1132.5846153846155 285,1125 C 387.2615384615384,1117.4153846153845 500.4153846153846,1075.4538461538461 611,1070 C 721.5846153846154,1064.5461538461539 829.6000000000001,1095.6000000000001 941,1086 C 1052.3999999999999,1076.3999999999999 1167.1846153846154,1026.146153846154 1268,1037 C 1368.8153846153846,1047.853846153846 1455.6615384615384,1119.8153846153846 1562,1137 C 1668.3384615384616,1154.1846153846154 1794.1692307692308,1116.5923076923077 1920,1079 C 1920,1079 1920,1080 1920,1080 Z" fill="#a91079" opacity="0.6"/></svg> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><rect width="1920" height="1080" fill="#069a8e"/><path d="M 0,1080 C 0,1080 0,154 0,154 C 75.0871794871795,179.07179487179485 150.174358974359,204.14358974358973 266,202 C 381.825641025641,199.85641025641027 538.3897435897436,170.49743589743588 661,170 C 783.6102564102564,169.50256410256412 872.2666666666667,197.86666666666665 974,201 C 1075.7333333333333,204.13333333333335 1190.5435897435898,182.03589743589743 1284,181 C 1377.4564102564102,179.96410256410257 1449.5589743589744,199.9897435897436 1552,199 C 1654.4410256410256,198.0102564102564 1787.2205128205128,176.0051282051282 1920,154 C 1920,154 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.08571428571428572"/><path d="M 0,1080 C 0,1080 0,308 0,308 C 109.2923076923077,319.93333333333334 218.5846153846154,331.8666666666667 313,318 C 407.4153846153846,304.1333333333333 486.95384615384614,264.4666666666667 606,261 C 725.0461538461539,257.5333333333333 883.5999999999999,290.26666666666665 988,316 C 1092.4,341.73333333333335 1142.646153846154,360.46666666666664 1254,344 C 1365.353846153846,327.53333333333336 1537.8153846153846,275.8666666666667 1659,264 C 1780.1846153846154,252.13333333333333 1850.0923076923077,280.06666666666666 1920,308 C 1920,308 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.17142857142857143"/><path d="M 0,1080 C 0,1080 0,462 0,462 C 97.01025641025643,481.6615384615385 194.02051282051286,501.32307692307694 294,503 C 393.97948717948714,504.67692307692306 496.92820512820504,488.3692307692307 607,476 C 717.071794871795,463.6307692307693 834.2666666666667,455.20000000000005 944,452 C 1053.7333333333333,448.79999999999995 1156.0051282051284,450.8307692307692 1272,457 C 1387.9948717948716,463.1692307692308 1517.7128205128204,473.47692307692313 1628,475 C 1738.2871794871796,476.52307692307687 1829.14358974359,469.2615384615384 1920,462 C 1920,462 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.2571428571428571"/><path d="M 0,1080 C 0,1080 0,617 0,617 C 133.22820512820513,644.7051282051282 266.45641025641027,672.4102564102565 366,661 C 465.54358974358973,649.5897435897435 531.402564102564,599.0641025641027 628,590 C 724.597435897436,580.9358974358973 851.9333333333332,613.3333333333333 963,613 C 1074.0666666666668,612.6666666666667 1168.8641025641025,579.6025641025642 1272,584 C 1375.1358974358975,588.3974358974358 1486.6102564102564,630.2564102564102 1596,642 C 1705.3897435897436,653.7435897435898 1812.6948717948717,635.3717948717949 1920,617 C 1920,617 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.34285714285714286"/><path d="M 0,1080 C 0,1080 0,771 0,771 C 81.00769230769228,742.8461538461538 162.01538461538456,714.6923076923077 286,716 C 409.98461538461544,717.3076923076923 576.946153846154,748.076923076923 677,764 C 777.053846153846,779.923076923077 810.2,781 904,789 C 997.8,797 1152.2538461538463,811.9230769230769 1281,800 C 1409.7461538461537,788.0769230769231 1512.7846153846153,749.3076923076924 1615,740 C 1717.2153846153847,730.6923076923076 1818.6076923076923,750.8461538461538 1920,771 C 1920,771 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.4285714285714286"/><path d="M 0,1080 C 0,1080 0,925 0,925 C 138.52564102564105,918.2666666666667 277.0512820512821,911.5333333333334 363,925 C 448.9487179487179,938.4666666666666 482.3205128205127,972.1333333333333 588,964 C 693.6794871794873,955.8666666666667 871.6666666666667,905.9333333333334 991,895 C 1110.3333333333333,884.0666666666666 1171.0128205128208,912.1333333333334 1262,930 C 1352.9871794871792,947.8666666666666 1474.2820512820513,955.5333333333334 1589,953 C 1703.7179487179487,950.4666666666666 1811.8589743589744,937.7333333333333 1920,925 C 1920,925 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.5142857142857142"/><path d="M 0,1080 C 0,1080 0,1079 0,1079 C 110.78205128205127,1076.076923076923 221.56410256410254,1073.1538461538462 331,1077 C 440.43589743589746,1080.8461538461538 548.5256410256411,1091.4615384615383 648,1088 C 747.4743589743589,1084.5384615384617 838.3333333333333,1067 956,1064 C 1073.6666666666667,1061 1218.1410256410256,1072.5384615384617 1329,1074 C 1439.8589743589744,1075.4615384615383 1517.102564102564,1066.8461538461538 1610,1066 C 1702.897435897436,1065.1538461538462 1811.448717948718,1072.076923076923 1920,1079 C 1920,1079 1920,1080 1920,1080 Z" fill="#b8fff9" opacity="0.6"/></svg> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><rect width="1920" height="1080" fill="#84d2c5"/><path d="M 0,1080 C 0,1080 0,154 0,154 C 108.94102564102565,142.30769230769232 217.8820512820513,130.6153846153846 329,144 C 440.1179487179487,157.3846153846154 553.4128205128205,195.84615384615384 668,198 C 782.5871794871795,200.15384615384616 898.4666666666665,166 1003,147 C 1107.5333333333335,128 1200.720512820513,124.15384615384616 1292,130 C 1383.279487179487,135.84615384615384 1472.651282051282,151.3846153846154 1577,157 C 1681.348717948718,162.6153846153846 1800.6743589743592,158.30769230769232 1920,154 C 1920,154 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.08571428571428572"/><path d="M 0,1080 C 0,1080 0,308 0,308 C 126.02820512820514,288.4076923076923 252.0564102564103,268.81538461538463 352,273 C 451.9435897435897,277.18461538461537 525.802564102564,305.1461538461538 629,314 C 732.197435897436,322.8538461538462 864.7333333333333,312.6 982,307 C 1099.2666666666667,301.4 1201.2641025641026,300.4538461538462 1291,290 C 1380.7358974358974,279.5461538461538 1458.2102564102563,259.58461538461535 1561,261 C 1663.7897435897437,262.41538461538465 1791.894871794872,285.20769230769235 1920,308 C 1920,308 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.17142857142857143"/><path d="M 0,1080 C 0,1080 0,462 0,462 C 91.08974358974359,462.1717948717949 182.17948717948718,462.34358974358975 306,471 C 429.8205128205128,479.65641025641025 586.3717948717949,496.7974358974359 692,495 C 797.6282051282051,493.2025641025641 852.3333333333333,472.4666666666667 947,458 C 1041.6666666666667,443.5333333333333 1176.2948717948718,435.33589743589744 1279,430 C 1381.7051282051282,424.66410256410256 1452.4871794871794,422.18974358974356 1554,428 C 1655.5128205128206,433.81025641025644 1787.7564102564102,447.9051282051282 1920,462 C 1920,462 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.2571428571428571"/><path d="M 0,1080 C 0,1080 0,617 0,617 C 90.074358974359,634.7435897435898 180.148717948718,652.4871794871796 288,646 C 395.851282051282,639.5128205128204 521.4794871794871,608.7948717948717 620,603 C 718.5205128205129,597.2051282051283 789.9333333333333,616.3333333333334 905,621 C 1020.0666666666667,625.6666666666666 1178.7871794871794,615.8717948717949 1299,608 C 1419.2128205128206,600.1282051282051 1500.9179487179485,594.1794871794872 1598,596 C 1695.0820512820515,597.8205128205128 1807.5410256410257,607.4102564102564 1920,617 C 1920,617 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.34285714285714286"/><path d="M 0,1080 C 0,1080 0,771 0,771 C 109.05384615384614,755.6897435897436 218.10769230769228,740.3794871794871 309,746 C 399.8923076923077,751.6205128205129 472.62307692307684,778.1717948717949 584,781 C 695.3769230769232,783.8282051282051 845.4000000000001,762.9333333333333 953,763 C 1060.6,763.0666666666667 1125.7769230769231,784.0948717948719 1233,784 C 1340.2230769230769,783.9051282051281 1489.4923076923078,762.6871794871795 1611,757 C 1732.5076923076922,751.3128205128205 1826.253846153846,761.1564102564103 1920,771 C 1920,771 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.4285714285714286"/><path d="M 0,1080 C 0,1080 0,925 0,925 C 77.46153846153842,938.5205128205129 154.92307692307685,952.0410256410257 267,944 C 379.07692307692315,935.9589743589743 525.7692307692308,906.3564102564102 632,905 C 738.2307692307692,903.6435897435898 803.9999999999999,930.5333333333334 902,923 C 1000.0000000000001,915.4666666666666 1130.2307692307693,873.5102564102563 1241,872 C 1351.7692307692307,870.4897435897437 1443.076923076923,909.4256410256411 1553,925 C 1662.923076923077,940.5743589743589 1791.4615384615386,932.7871794871794 1920,925 C 1920,925 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.5142857142857142"/><path d="M 0,1080 C 0,1080 0,1079 0,1079 C 76.96153846153842,1070.023076923077 153.92307692307685,1061.0461538461539 272,1077 C 390.07692307692315,1092.9538461538461 549.2692307692308,1133.8384615384614 670,1130 C 790.7307692307692,1126.1615384615386 872.9999999999998,1077.6000000000001 956,1065 C 1039.0000000000002,1052.3999999999999 1122.7307692307693,1075.7615384615385 1233,1070 C 1343.2692307692307,1064.2384615384615 1480.076923076923,1029.353846153846 1599,1026 C 1717.923076923077,1022.6461538461539 1818.9615384615386,1050.823076923077 1920,1079 C 1920,1079 1920,1080 1920,1080 Z" fill="#fffbac" opacity="0.6"/></svg> -->
        <!-- <svg id="sw-js-blob-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">                    <defs>                         <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">                            <stop id="stop1" stop-color="rgba(132, 210, 197, 1)" offset="0%"></stop>                            <stop id="stop2" stop-color="rgba(0.079, 139.709, 93.871, 1)" offset="100%"></stop>                        </linearGradient>                    </defs>                <path fill="url(#sw-gradient)" d="M19.9,-32C25.1,-27.6,28.3,-21,32.1,-14.2C35.9,-7.5,40.3,-0.5,39.8,6C39.3,12.6,34,18.7,27.7,21.7C21.5,24.7,14.3,24.6,7.8,26.4C1.2,28.3,-4.7,32.2,-11,32.6C-17.3,32.9,-24,29.8,-27.4,24.5C-30.8,19.2,-30.9,11.8,-31.4,4.8C-31.9,-2.2,-32.8,-8.8,-31.2,-15C-29.6,-21.3,-25.4,-27.2,-19.8,-31.4C-14.2,-35.6,-7.1,-38.2,0.1,-38.4C7.3,-38.6,14.6,-36.4,19.9,-32Z" width="100%" height="100%" transform="translate(50 50)" stroke-width="0" style="transition: all 0.3s ease 0s;" stroke="url(#sw-gradient)"></path>              </svg> -->
       
        <div id="preloader">
            <div class="container">
                <div class="snow"></div>
                <div class="tree1"></div>
                <div class="tree2"></div>
                <div class="house">
                  <div class="roof1">
                    <div class="b1"></div>
                    <div class="b2"></div>
                  </div>
                  <div class="wall1">
                    <div class="w3">
                      <div class="window1">
                        <div class="glass1"></div>
                      </div>
                    </div>
                  </div>
                  <div class="wall2">
                    <div class="light">
                      <div class="w1">
                        <div class="window">
                          <div class="glass"></div>
                        </div>
                      </div>
                      <div class="w2">
                        <div class="window">
                          <div class="glass"></div>
                        </div>
                      </div>
                    </div>
                    <div class="door">
                      <div class="handle"></div>
                    </div>
                    <div class="snw1"></div>
                    <div class="snw2"></div>
                  </div>
                  <div class="wall3">
                    <div class="b3"></div>
                    <div class="b4"></div>
                    <div class="chimney">
                      <div class="top">
                        <div class="smoke">
                          <div class="s1"></div>
                          <div class="s2"></div>
                          <div class="s3"></div>
                        </div>
                        <div class="shne1"></div>
                        <div class="shne2"></div>
                      </div>
                    </div>
                    <div class="sn">
                      <div class="dr1"></div>
                      <div class="dr2"></div>
                      <div class="dr3"></div>
                    </div>
                    <div class="sn1">
                      <div class="dr4"></div>
                    </div>
                    <div class="sh1"></div>
                    <div class="sh2"></div>
                    <div class="sh3"></div>
                    <div class="sh4"></div>
                    <div class="sh5"></div>
                  </div>
                </div>
                <div class="snowfall"></div>
                <div class="cover"></div>
                <div class="bottom">
                  <div class="bt1"></div>
                  <div class="bt2"></div>
                </div>
                <div class="fence">
                  <div class="fn1">
                    <div class="screw"></div>
                  </div>
                  <div class="fn2">
                    <div class="screw"></div>
                  </div>
                  <div class="fn3">
                    <div class="screw"></div>
                  </div>
                  <div class="stck"></div>
                </div>
                </div>
                <h2>'Take deep breaths to relax yourself and enjoy the best experience of our site'</h2>
        </div>
        
          

        <header class="navbar">
            <h1 class="name-sm disp visi">Mind Valley</h1>
            <img src="/img/home/logo2.png" alt="Logo">
            
            <div class="nav-list v-class">
                <a href="">Home</a>
                <a href="/articles">Articles</a>
                <a href="/checkups">Checkups</a>
                <a href="/meditation">Meditation</a>
                <a href="/games">Games</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="signDiv">
                <a class="sign-in v-class" href="/register">Sign in</a>
            </div>
            
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </header>
        <div class="intro">
            <div class="intro-text">
                <h1>Welcome to Mind Valley!</h1>
                <p> We understand that managing mental health can be challenging, and our goal is to provide you with the support and resources you need to improve your well-being. </p>
                <a href="#our-services">Get Started</a>
            </div>
    
            <div class="hero-image">
                <img src="/img/home/hero image.png" alt="hero-image">
                <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                    <path fill="#DCDCDC" d="M411.5,323.5Q407,407,323.5,429.5Q240,452,178.5,407.5Q117,363,64,301.5Q11,240,58.5,173Q106,106,173,88.5Q240,71,323.5,72Q407,73,411.5,156.5Q416,240,411.5,323.5Z" />
                </svg>
            </div>
        </div>
    </section>   
    
    <div class="statistics">
        <div>
            <h2>Any mental health disorder</h2>
            <h4>792 M</h4>
            <p>people in the world suffer from this </p>
        </div>
            
        <div>
            <h2>Depression</h2>
            <h4>264 M</h4>
            <p>people in the world suffer from this </p>
        </div>
        <div>
            <h2>Anxiety disorders</h2>
            <h4>284 M</h4>
            <p>people in the world suffer from this </p>
            
        </div>
    </div>
    

    <div class="about-us">    
        <img class="clouds" src="/img/home/clouds.png" alt="clouds">
        <img class="sun" src="/img/home/sun.png" alt="sun">
        <h1>About Us</h1>
        
        <p>Welcome to our website dedicated to providing comprehensive mental health care services. We understand that dealing with mental health can be challenging, which is why we strive to create a safe and comfortable environment for our clients.  We offer a wide range of services including counseling, therapy, and medication management to help our clients achieve optimal mental health. We also understand the importance of privacy and confidentiality and take great care to ensure that all of our clients' information is kept secure.

            At our practice, we are committed to providing the highest quality care and support. We believe that everyone deserves access to mental health care, and we strive to make our services accessible and affordable for all.
            
            Thank you for considering our mental health care services. We look forward to working with you and helping you achieve optimal mental health.
        </p>
        
        <img class="img1" src="/img/home/about-us.png" alt="about-us">
    </div>

    <div class="mid-imgs">
        <img src="/img/home/mid1.png" alt="mid1">
        <img src="/img/home/mid2.png" alt="mid2">
        <img src="/img/home/mid3.png" alt="mid3">
    </div>

    <div id="our-services" class="our-services">
        <img class="services" src="/img/home/ourservices1.png" alt="our-services1">
        <img class="services1" src="/img/home/ourservices2.png" alt="our-services2">
        <h1>Our Services</h1>
        <div class="video-section">
            <h2>Expert Curated Videos</h2>
            <p>We have a video section where there will be plently of meditation videos to bring calmness, breathing exercises to help going through a panic attack, and several videos demonstrating good mental health care in daily life</p>
            <a href="/meditation">Start Meditation</a>
            <img src="/img/home/videos.png" alt="videos-section">
        </div>
        <div class="articles-section">
            <div>
                <h2>Articles</h2>
                <p>Articles curated for every situation you are finding a solution for, you will find loads and loads of knowledge from the best mental health care professionals </p>
                <a href="/articles">Read Articles</a>
            </div>
            
            <img src="/img/home/articles.png" alt="article-section">
        </div>

        <div class="games">
            <h2>Stress Relieving Games</h2>
            <p>Collection of Games curated to provide relief from stress and provide dopamine boost to exponentially improve the mood of the user. There are multiple categories of games ranging from single player, two-players and multi-player games</p> 
            <a href="/games">Play Games</a>
            <img src="/img/home/gaming.png" alt="gaming-section">
        </div>

        <div class="tools">
            <div>
                <h2>Variety of Tests</h2>
            <p>A collection of tests such as measuring tests for Anxiety, Depression and Stress which will help in finding the level of anxiety,depression and stress and prescribing solutions for the same, another tool which will help to find a mental health clinic nearby and many others</p>
            <a href="/checkups">Explore Checkups</a>
            </div>
            
            <img src="/img/home/tools.png" alt="tools-section">
        </div>
    </div>

    <div class="testimonials">
        <div>
            <img src="/img/home/testimonial1.png" alt="testimonial-1">
            <h2>Carol</h2>
            <p>"I have been struggling with anxiety for a long time and was hesitant to seek help. I stumbled upon this website and started watching the mental health videos and reading the articles. It has been a game changer for me. I have learned so much about my condition and have been able to implement the strategies and techniques I learned from the videos and articles."</p>
        </div>

        <div>
            <img src="/img/home/testimonial2.png" alt="testimonial-2">
            <h2>Paul</h2>
            <p>"I have been going through a tough time and have found the mental health videos and articles on this website to be extremely helpful. They have given me a deeper understanding of mental health and have helped me to develop my own self-care practices."</p>
        </div>

        <div>
            <img src="/img/home/testimonial3.png" alt="testimonial-3">
            <h2>Kate</h2>
            <p>"I have always been interested in mental health but didn't know where to turn for information. I found this website and have been reading the articles and watching the videos regularly. The information is easy to understand and has helped me improve my own mental well-being."</p>
        </div>
    </div>

    <footer>
        <div class="foot">
            <div>
                <h1> <a href="/">Home</a> </h1>
            </div>
    
            <div>
                <h1> <a href="/contact">Contact US</a> </h1>
                <h2> <a href="">Email: abc@gmail.com</a> </h2>
                <h2> <a href="">Address: VIT Bhopal</a> </h2>
                <h2> <a href="">Phone: 1234567890</a> </h2>
            </div>
    
            <div>
                <h1> <a href="">Support</a> </h1>
                <h2> <a href="">FAQs</a> </h2>
                <h2> <a href="">Help Centre</a> </h2>
                <h2> <a href="">Consult</a> </h2>
            </div>
    
            <div>
                <h1> <a href="/checkups">Checkups</a> </h1>
                <h2> <a href="/anxiety">Anxiety Measurement</a> </h2>
                <h2> <a href="/depression">Depression Measurement</a> </h2>
                <h2> <a href="/stress">Stress Measurement</a> </h2>
            </div>
    
            <img src="/img/home/logo2.png" alt="Logo">
        </div>
        
        <!-- <div>
            <hr>
        </div> -->
        
        <div class="tandc">
            <!-- <div>
                <h3>Privacy</h3>
            </div>
            <div>
                <h3>Services</h3>
            </div>
            <div>
                <h3>Terms and Conditions</h3>
            </div> -->
            <div class="copyright">
                <h3>© Copyright 2023</h3>
            </div>
            
        </div>
        

    </footer>

    <script>
        var loader = document.getElementById('preloader');
        window.addEventListener("load", function(){
            loader.style.display = "none";
        })
    </script>

    <script src="js/resp.js"></script>

</body>
</html>