<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkups Section</title>
    <link rel="stylesheet" href="/css/style_checkups.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

</head>
<body>
    <section>
        <header class="navbar">
            <h1 class="name-sm disp visi">Mind Valley</h1>
            <img src="/images_checkups/logo2.png" alt="Logo">
            
            <div class="nav-list v-class">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
                <a href="/checkups">Checkups</a>
                <a href="/meditation">Meditation</a>
                <a href="/games">Games</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="signDiv">
                <a class="sign-in v-class" href="/register">Sign in</a>
            </div>
            
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </header>
    </section>

    <!-- <section class="main"> -->
        <div class="tools">
            <div class="above">
                <div class="tools-text">
                    <h1>Checkups</h1>
                    <p>Collection of tests which you can use to know more about your mental health</p>
                </div>
                <div>
                    <img src="/images_checkups/hero-image.png" alt="hero-image">
                </div>
            </div>
           
            <!-- <div class="cards">
                <div class="container">
                    <img src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                    <img src="https://images.unsplash.com/photo-1582842195329-6a0baffd2a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                    <img src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">

                </div>
            </div>
        </div> -->

        <div class="cards-list">
  
            <div onclick="location.href='/anxiety'" class="card 1">
              <div class="card_image">
                 <!-- <img src="https://i.redd.it/b3esnz5ra34y.jpg" />  -->
                 <img src="/images_checkups/card1.jpg" alt="">
                </div>
              <div class="card_title title-white">
                <p>Anxiety Test</p>
              </div>
            </div>
            
            <!--   <div class="card 2">
              <div class="card_image">
                <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
                </div>
              <div class="card_title title-white">
                <p>Card Title</p>
              </div>
            </div> -->
            
            <div onclick="location.href='/depression'" class="card 2">
              <div class="card_image">
                <img src="/images_checkups/card2.jpg" />
              </div>
              <div class="card_title title-white">
                <p>Depression Test</p>
              </div>
            </div>
              
              <div onclick="location.href='/stress'" class="card 3">
              <div class="card_image">
                <img src="/images_checkups/card3.jpg" />
                </div>
              <div class="card_title title-white">
                <p>Stress Test</p>
              </div>
              </div>
            
            </div>
        
        
    <!-- </section> -->

    <script src="/index_checkups.js"></script>
</body>
</html>