<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Meditation</title>

    <!-- fontawesome link here -->
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/css/all.min.css">

    <!-- style link here -->
    <link rel="stylesheet" href="/css/style_meditation.css">


</head>

<body>

    <header class="header">
        <div class="logo">
            <img src="/images_meditation/mind valley.png" alt="">
        </div>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
            <a href="/checkups">Checkups</a>
            <a href="meditation">Meditation</a>
            <a href="/games">Games</a>
            <a href="/contact">Contact Us</a>
        </nav>

        <div class="icons">
            <div id="menu-bar" class="fas fa-bars"></div>
            <a class="contact-btn" href="/register">Sign in</a>
        </div>

    </header>

    <div class="home">

        <div class="main-home">
            <div class="home-inner-content">
                <div class="home-image">
                    <img src="/images_meditation/yoga background.png" alt="">
                </div>
            </div>

            <div class="home-inner-content">
                <div class="home-text-content">
                    <h1>Meditation</h1>
                    <p>our serives also provides the treatment of menatal healht and it's causes .We welcome you to our Mindful guide that how to treat mental illness, which includes a variety of styles of meditation, information about the benefits of each
                        practice
                    </p>
                    <a href="https://www.youtube.com/watch?v=vtOAnC73xtk">watch tutorial</a>
                </div>
            </div>
        </div>

    </div>


    <div id="about" class="about">
        <div class="main-about">
            <div class="about-content">
                <div class="about-inner-content">
                    <a href="https://www.youtube.com/watch?v=na0a2G7W7uw&t=23s"><img class="myimageabout" src="/images_meditation/About us 3.png" alt=""></a>
                </div>
            </div>

            <div class="about-content">
                <div class="about-inner-content">
                    <div class="about-text-content">
                        <h1>Psychotherapy</h1>
                        <p> Psychotherapy is the therapeutic treatment of mental illness provided by a trained mental health professional. Psychotherapy explores thoughts, feelings, and behaviors, and seeks to improve an individual’s well-being. Psychotherapy
                            paired with medication is the most effective way to promote recovery. Examples include: Cognitive Behavioral Therapy, Exposure Therapy, Dialectical Behavior Therapy, etc.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quality">
        <div class="main-quality">
            <div class="main-inner-quality">
                <div class="quality-content">
                    <h1>Support Groups</h1>
                    <p>Support groups are offered as a space where individuals can come together to share their stories, experiences, and lives in a way that helps reduce isolation and loneliness. Oftentimes, we think we are struggling alone, but support
                        groups help us see that there are others who may dealing with similar situations and who in turn can help us get better.
                        <br> Support groups are open to anyone, but they are often focused on specific topics (i.e. depression, family, divorce, grief, etc.). So, take some time and do some research to find the right one for you and your current situation.
                    </p>

                </div>
            </div>

            <div class="main-inner-quality">
                <div class="quality-content qulity-image">
                    <a href="https://www.youtube.com/watch?v=Xi6QFK3N7tQ"> <img src="/images_meditation/support groups.PNG" alt=""></a>
                </div>
            </div>
        </div>
    </div>


    <div class="gallery">

        <h1>Types Of Meditation</h1>

        <div class="main-gallery">
            <div class="inner-gallery">
                <div class="gallery-image">
                    <img src="/images_meditation/gallery1.png" alt="Breathing Meditation">
                    <div class="centered">

                        <a href="https://www.youtube.com/watch?v=VUjiXcfKBn8">
                            <h3>Breathing Meditation</h3>
                        </a>
                    </div>

                </div>
            </div>

            <div class="inner-gallery">
                <div class="gallery-image">
                    <img src="/images_meditation/gallery2.png" alt="Focused attention meditation">
                    <div class="centered">

                        <a href="https://www.youtube.com/watch?v=CTS6E_0oAJg">
                            <h3>focused attention meditation</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="inner-gallery">
                <div class="gallery-image">
                    <img src="/images_meditation/gallery3.png" alt="Meta meditation">
                    <div class="centered">

                        <a href="https://www.youtube.com/watch?v=9W6i8bKg5gI">
                            <h3>meta meditation</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="inner-gallery">
                <div class="gallery-image">
                    <img src="/images_meditation/gallery4.png" alt="Guided meditation">
                    <div class="centered">

                        <a href="https://www.youtube.com/watch?v=EXg_FFSkYCM">
                            <h3>Guided meditation</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="inner-gallery">
                <div class="gallery-image">
                    <img src="/images_meditation/gallery5.png" alt="pranayama meditation">
                    <div class="centered">

                        <a href="https://www.youtube.com/watch?v=N2wR1OWhD4s">
                            <h3>pranayama meditation</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="inner-gallery">
                <div class="gallery-image">
                    <img src="/images_meditation/gallery6.png" alt="mantra meditation">
                    <div class="centered">

                        <a href="https://www.youtube.com/watch?v=vH11undyI2o">
                            <h3>mantra meditation</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="enjoy-our-food">

        <div class="food-main-content">
            <h1>Take a Deep Breath</h1>
            <p>“Meditation is not about stopping thoughts, but recognizing that we are more than our thoughts and our feelings.”</p>
            <audio controls><source src="/waterchill.mp3" type="audio/mpeg"></audio>
        </div>

    </div>

    <div class="our-menu-food">
        <h1>Other ways to cure</h1>

        <div class="main-menu-food">
            <div class="inner-menu-food">
                <div class="menu-food-content">
                    <img src="/images_meditation/Alternative meditation.PNG" alt="">

                    <div class="menu-food-text">
                        <h2>Alternative medication</h2>
                        <p> Complementary & Alternative Medicine, or CAM, refers to treatment and practices that are not typically associated with standard care. CAM may be used in place of or addition to standard health practices..</p>
                        <a href="https://www.youtube.com/watch?v=T-ZQSn-Q3LE">
                            <p> <span>Know more </span> </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="inner-menu-food">
                <div class="menu-food-content">
                    <img src="/images_meditation/Hospitalization.PNG" alt="">

                    <div class="menu-food-text">
                        <h2>Hospitalization</h2>
                        <p> In a minority of cases, hospitalization may be necessary so that an individual can be closely monitored, accurately diagnosed or have medications adjusted when his or her mental illness temporarily worsens.</p>
                        <a href="https://www.youtube.com/watch?v=4Mww7mFqyVA">
                            <p> <span>Know more</span> </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="inner-menu-food">
                <div class="menu-food-content">
                    <img src="/images_meditation/EL.PNG" alt="">

                    <div class="menu-food-text">
                        <h2>Electroconvulsive Therapy</h2>
                        <p>Electroconvulsive therapy (ECT) is a procedure in which a brief application of electric stimulus is used to produce a generalized seizure. It is not known how or why ECT works or what the electrically stimulated seizure does to
                            the brain. the treatment was administered mostly to people with severe mental illnesses.</p>
                        <a href="https://www.youtube.com/watch?v=Kf--JO3l77E">
                            <p> <span>Know more </span> </p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="before">

        <div class="youtube">
            <h1>Take a Deep Breath</h1>
            <p>"Your goal is not to battle with the mind, but to witness the mind."</p>
            <audio controls><source src="/alpha series.mp3" type="audio/mpeg"></audio>
        </div>
    </div>

    <div id="about" class="about">
        <div class="main-about">
            <div class="about-content">
                <div class="about-inner-content">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IKdzSdfukJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="about-content">
                <div class="about-inner-content">
                    <div class="about-text-content">
                        <h1>Om Chanting</h1>
                        <p> Om is a great tool for manifesting positive things in your l .. Om is a great tool for manifesting positive things in your life. Chanting Om calms your mind and helps you bring in positive energy into your body. You can control
                            your anger by chanting Om on a regular basis.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quality">
        <div class="main-quality">
            <div class="main-inner-quality">
                <div class="quality-content">
                    <h1>Alpha and beta wave </h1>
                    <p>Alpha waves induce feelings of calm, increase creativity, and enhance your ability to absorb new information. Meditating and practicing mindfulness are some of the most obvious ways to prolong your ability to stay in an alpha state,
                        but there are other ways, as well.
                    </p>

                </div>
            </div>

            <div class="main-inner-quality">
                <div class="quality-content qulity-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fyBuKsmKew4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="main-footer">
                <div class="footer-logo"><img src="/images_meditation/mind valley.png" alt=""></div>
            </div>

            <footernav class="footer-navbar">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
                <a href="/checkups">Checkups</a>
                <a href="/meditation">Meditation</a>
                <a href="/games">Games</a>
                <a href="/contact">Contact Us</a>
            </footernav>

        </div>







        <!-- scroll reveal javascript link -->

        <script src="https://unpkg.com/scrollreveal"></script>

        <!-- javascript link here -->

        <script src="/js_meditation/script.js"></script>
</body>

</html>