<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Article Section</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_articles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <section id="nav-bar">


        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#"><img src="/images_articles/mind valley.png" alt="MIND-valley" , width="120" height="100" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/checkups">Checkups </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/meditation">Meditation </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/games">Games </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/contact">Contact Us </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!---------------------banner-------------------->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="promo-title"> BEST ARTICLES ABOUT MENTAL HEALTH </p>
                    <p> "It's Okay to not to be Okay , Love yourself first ! " <br>Mental health includes our emotional, psychological, and social well-being. </p>
                    <a href="https://www.youtube.com/watch?v=z-IR48Mb3W0&list=PLJicmE8fK0EgFqcHoA4ufzsPD6VQThV5S"> <img src="/images_articles/play.png" alt="play " width="45" height="45" class="play-btn"> Watch tutorial</a>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/images_articles/home2.png" alt="home2" class="img-fluid">
                </div>
            </div>
        </div>

        <img src="/images_articles/wave1.png" alt="wave1" class="bottom-img">



    </section>
    <!------------------------------------Services section ------------------------>
    <section id="services">
        <div class="container text-center">
            <h1 class="title">WHAT WE DO?</h1>
            <div class="row text-center">
                <div class="col-md-4 services">
                    <a href="https://www.psychiatry.org/patients-families/what-is-mental-illness" target="_blank"><img src="/images_articles/service2.png" alt="services 1" class="service-img"></a>
                    <h4>Introduction</h4>
                    <p> Mental and physical health are equally important components of overall health. For example, depression increases the risk for many types of physical health problems, particularly long-lasting conditions like diabetes, heart disease,
                        and stroke.<br> How to manage Your emotions ?<br> How can I improve my Mental Health ?</p>
                </div>
                <div class="col-md-4 services">
                    <a href="https://www.mayoclinic.org/diseases-conditions/mental-illness/symptoms-causes/syc-20374968" target="_blank"><img src="/images_articles/service1.png" alt="services 2" class="service-img"></a>
                    <h4>Warning Sign </h4>
                    <p> Learning about developing symptoms, or early warning signs, and taking action can helptoe ensure prompt treatment. Early intervention CAN help reduce the severity of an illness and interruptions in quality of life and functions. It
                        may even be possible to delay or prevent a major mental illness altogether</p>
                </div>
                <div class="col-md-4 services">
                    <a href="https://www.healthline.com/health/positive-self-talk#_noHeaderPrefixedContent" target="_blank"><img src="/images_articles/service3.png" alt="services 1" class="service-img" width="250" height="150"></a>
                    <h4>Positive Thinking and self talk</h4>
                    <p> Positive thinking just means that you approach unpleasantness in a more positive and productive way. You think the best is going to happen, not the worst.
                        <br>Positive thinking often starts with self-talk. Self-talk is the endless stream of unspoken thoughts that run through your head</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary">All Services</button>
        </div>
    </section>



    <!----------------------About Us-------------->
    <section id="about-us">
        <div class="container">
            <h1 class="title text-center"> what are different types of Mental illness ?</h1>
            <h3 class="about-title text-center"> <a href="https://www.who.int/news-room/fact-sheets/detail/mental-disorders"> Mental illness types</a> </h3>
            <!-- <div class="row"> -->
            <div class=" about">

                <div class=card>

                    <div class="Box">
                        <div class="imgBx">
                            <img src="/images_articles/anxiety from socialing.PNG" alt="anxiety" width="480" height="400">
                        </div>
                        <div class="contentBx">
                            <div>
                                <h3>Anxiety</h3>
                                <br> <a href="https://www.healthline.com/health/anxiety/generalized-anxiety-disorder">1)GAD generalising anxiety disorder</a>
                                <br> <a href="https://www.nhs.uk/mental-health/conditions/panic-disorder/#:~:text=Panic%20disorder%20is%20an%20anxiety,to%20stressful%20or%20dangerous%20situations.">2)Panic Disorder
                                <br> <a href="https://www.nimh.nih.gov/health/statistics/obsessive-compulsive-disorder-ocd"> 3)Obsessive Compuslsive Disorder or ocd</a></a>
                                <br> <a href="https://www.nimh.nih.gov/health/statistics/post-traumatic-stress-disorder-ptsd">4)Post traumatic stress disorder (ptst)</a>
                                <br> <a href="https://www.healthline.com/health/anxiety/social-phobia">5)social anxiety disorder</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=card>
                    <div class="Box">
                        <div class="imgBx">
                            <img src="/images_articles/depression.PNG" alt="depression" width="480" height="400">
                        </div>
                        <div class="contentBx">
                            <div>
                                <h3>Depression</a>
                                </h3>
                                <br> <a href="https://www.nimh.nih.gov/health/publications/disruptive-mood-dysregulation-disorder#:~:text=Disruptive%20mood%20dysregulation%20disorder%20(DMDD,.%E2%80%9D%20DMDD%20symptoms%20are%20severe.">1) disruptive mood dysregulation disorder</a>
                                <br> <a href="https://pubmed.ncbi.nlm.nih.gov/18494537/">2)Major depressive disorder neurotranmitters</a>
                                <br> <a href="https://www.mayoclinic.org/diseases-conditions/persistent-depressive-disorder/symptoms-causes/syc-20350929">3) persistent depressive disorder</a>
                                <br> <a href="https://www.mayoclinic.org/diseases-conditions/premenstrual-syndrome/expert-answers/pmdd/faq-20058315#:~:text=Premenstrual%20dysphoric%20disorder%20(PMDD)%20is,daily%20life%20and%20damage%20relationships."> 4)Premenstrual dyshoric disorder</a>
                                <br> <a href="https://www.medicalnewstoday.com/articles/mood-swings#:~:text=Many%20factors%20can%20cause%20or,as%20an%20infection%20or%20diabetes.">5)mood swings increased sensistivity</a>
                                <br> <a href="https://journals.sagepub.com/doi/10.1177/0004867419888576"> 6) substance induced depressive disorder   </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=card>
                    <div class="Box">
                        <div class="imgBx">
                            <img src="/images_articles/stress.PNG" alt="anxiety" width="470" height="400">
                        </div>
                        <div class="contentBx">
                            <div>
                                <h3>Stress</h3>
                                <br> <a href="https://my.clevelandclinic.org/health/diseases/9636-personality-disorders-overview">1)personality disorder</a>
                                <br> <a href="https://www.nimh.nih.gov/health/statistics/attention-deficit-hyperactivity-disorder-adhd">2)ADHD( attention deficit hyperactivity disorder)</a>
                                <br> <a href="https://www.mayoclinic.org/diseases-conditions/post-traumatic-stress-disorder/symptoms-causes/syc-20355967">3)Posttraumatic stress disorder</a>
                                <br> <a href="https://psychcentral.com/ocd/psychology-of-obsessions"> 4)Obsessions</a>
                                <br> <a href="https://www.nimh.nih.gov/health/topics/autism-spectrum-disorders-asd">5)Autism spectrum disorder ASD</a>
                                <br> <a href="https://www.webmd.com/schizophrenia/mental-health-schizophrenia"> 6)Schizophrenia ad psychotic disorder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" about">

                <div class=card>

                    <div class="Box">
                        <div class="imgBx">
                            <img src="/images_articles/personality disorder.PNG" alt="anxiety" width="480" height="400">
                        </div>
                        <div class="contentBx">
                            <div>
                                <h3>personality Disorder</h3>
                                <br> <a href="https://www.britannica.com/science/paranoia"></a> 1)Paranoid personality disorder</a>
                                <br> <a href="https://www.mayoclinic.org/diseases-conditions/schizoid-personality-disorder/symptoms-causes/syc-20354414"></a> 2)Schizoid personality disorder
                                <br> <a href="https://www.webmd.com/mental-health/schizotypal-personality-disorder"></a> 3)Schizotypal personality disorder</a></a>
                                <br> <a href="https://webmd.com/mental-health/antisocial-personality-disorder-overview"></a> 4)Antisocial personality disorder</a>
                                <br> <a href="https://www.nimh.nih.gov/health/topics/borderline-personality-disorder"></a> 5)Borderline personality disorder</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=card>
                    <div class="Box">
                        <div class="imgBx">
                            <img src="/images_articles/dna.PNG" alt="depression" width="480" height="400">
                        </div>
                        <div class="contentBx">
                            <div>
                                <h3>Somatoform disorders</h3>
                                <br> <a href="https://www.webmd.com/mental-health/somatoform-disorders-symptoms-types-treatment"></a> 1)Somatization disorder
                                <br> <a href="https://medlineplus.gov/ency/article/000954.htm#:~:text=Conversion%20disorder%20is%20a%20mental,be%20explained%20by%20medical%20evaluation."></a> 2)Conversion disorder
                                <br> <a href="https://www.mayoclinic.org/diseases-conditions/illness-anxiety-disorder/symptoms-causes/syc-20373782#:~:text=Illness%20anxiety%20disorder%2C%"></a> 3)Hypochondriasis
                                <br> <a href="https://www.verywellhealth.com/what-is-psychogenic-pain-2564617"></a> 4)Psychogenic pain disorder
                            </div>
                        </div>
                    </div>
                </div>
                <div class=card>
                    <div class="Box">
                        <div class="imgBx">
                            <img src="/images_articles/yoyo.PNG" alt="anxiety" width="470" height="400">
                        </div>
                        <div class="contentBx">
                            <div>
                              <h3>Other mental disorders</h3>
                              <br> <a href="https://www.mayoclinic.org/diseases-conditions/factitious-disorder/symptoms-causes/syc-20356028#:~:text=Factitious%20disorder%20is%20a%20serious,being%20ill%2C%20injured%20or%20impaired."></a> 1)Factitious disorders
                              <br> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3089999/#:~:text=Impulse%20control%20disorders%20(ICDs)%20are,as%20legal%20and%20financial%20difficulties."></a> 2)Impulse-control disorders
                              <br> <a href="https://www.mayoclinic.org/diseases-conditions/adjustment-disorders/symptoms-causes/syc-20355224"></a> 3)Adjustment disorders

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </section>

    <!------------------------------testimonials------------------------------>
    <section id="testimonials">
        <div class="container">
            <h1 class="title text-center"> WHY CLIENTS SAY ?</h1>
            <div class="row offset-1">
                <div class="col-md-5 testimonials">
                    <p> Positive thinking just means that you approach unpleasantness in a more positive and productive way. You think the best is going to happen, not the worst.
                        <br>Positive thinking often starts with self-talk. Self-talk is the endless stream of unspoken thoughts that run through your head</p>
                    <img src="/images_articles/user1.jpg" alt="name">
                    <p class="user-details"> <b>angelina </b> <br> Co-founder at xyz</p>
                </div>
                <div class="col-md-5 testimonials">
                    <p> Positive thinking just means that you approach unpleasantness in a more positive and productive way. You think the best is going to happen, not the worst.
                        <br>Positive thinking often starts with self-talk. Self-talk is the endless stream of unspoken thoughts that run through your head</p>
                    <img src="/images_articles/user2.jpg" alt="name">
                    <p class="user-details"> <b>John cena </b> <br> Co-founder at xyz</p>
                </div>
            </div>
        </div>

    </section>
    <!----------------------------footer section------------------------------------>
    <section id="footer">
        <img src="/images_articles/wave2.png" class="footer-img" alt="">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-box">
                    <img src="/images_articles/mind valley.png" alt="MIND-valley">
                    <p>Positive Thinking and self talk</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>CONTACT US </b></p>
                    <p><i class="fa-solid fa-location-dot"></i>Vellore institute of technology ,astha, bhopal, Madhya paradesh , pin 477620</p>
                    <p><i class="fa-solid fa-phone"></i>91+ 6474889929</p>
                    <p><i class="fa-solid fa-envelope"></i>mind_valley12@gmail.com</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b>SUBSCRIBE NEWSLETTER</b></p>
                    <input type="email" class="form-control" placeholder="Your Email">
                    <button type="button" class="btn btn-primary"> Subscribe</button>
                </div>
            </div>
        </div>

        <div>
            <hr>
            <p class="copyright">@Website created by MIND-valley team</p>
        </div>


    </section>
    <!----------------smooth Scroll----------------------------------------------------------->
    <script src="/index_articles.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</body>

</html>
