<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_games.css">
    <title>Gaming Section</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital@1&display=swap" rel="stylesheet">

</head>
<body>

    <header class="navbar">
        <h1 class="name-sm disp visi">Mind Valley</h1>
        <img src="/images_games/logo2.png" alt="Logo">
        
        <div class="nav-list v-class">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
            <a href="/checkups">Checkups</a>
            <a href="/meditation">Meditation</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="signDiv">
            <a class="sign-in v-class" href="/register">Sign in</a>
        </div>
        
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <section>
        <!-- <img src="images/img1.png" alt=""> -->
        <h4>Need a dopamine boost? Check out our</h4>
        <div class="intro">
            
            <div class="content">
                <h2>GAME-ZONE</h2>
                <h2>GAME-ZONE</h2>
                <p>This section includes a collection of games which will relieve your stress and make you distract your mind towards a entertaining purpose.</p>
            </div>
            <div class="hero-image">
                <img src="/images_games/img3.png" alt="">
            </div>
        </div>
        <div class="games">
            <div class="row1">
                <div class="card">
                    <div>
                        <img src="/images_games/game1.jpg" alt="">
                    </div>
                    
                    <h2>Snow Dodge</h2>
                    <p>In this game you will have to dodge snowflakes from above by moving your bar leftways and rightways, have a go at this fun calming game.                        Controls A for left D for right</p>
                    <a class="btn btn1" href="/snow">Play</a>
                </div>
    
                <div class="card">
                    <div>
                        <img src="/images_games/game2.jpg" alt="">
                    </div>
                    
                    <h2>Bubble Mind</h2>
                    <p>A 2D game in which you will have to shoot bubbles and dodge them. Bubble with spawn at random intervals after a certain time.
                        Controls A for left and D for right left click to fire</p>
                    <a class="btn btn2" href="/bubble">Play</a>
                </div>
    
                <div class="card">
                    <div>
                        <img src="/images_games/game3.jpg" alt="">
                    </div>
                    
                    <h2>Colour Switch</h2>
                    <p>A hyper casual game in which we have to make our player jump through same as it own through the rotating circle controls left click to jump</p>
                    <a class="btn btn3" href="/colour">Play</a>
                </div>
            </div>
            
            <div class="row2">
                <div class="card">
                    <div>
                        <img src="/images_games/game4.jpg" alt="">
                    </div>
                    
                    <h2>Dart Shoot</h2>
                    <p>A Simple game in which you have to throw darts at the rotating board . try to stick maximum no of darts!!
                        Controls left click to shoot</p>
                    <a class="btn btn4" href="/dart">Play</a>
                </div>
    
                <div class="card">
                    <div>
                        <img src="/images_games/game5.jpg" alt="">
                    </div>
                    
                    <h2>Simon Game</h2>
                    <p>The Simon game is the exciting electronic game of lights and sounds in which players must repeat random sequences of lights by pressing the colored pads in the correct order.</p>
                    <a class="btn btn5" href="/simon">Play</a>
                </div>
    
                <div class="card">
                    <div>
                        <img src="/images_games/game6.jpg" alt="">
                    </div>
                    
                    <h2>Drum Kit</h2>
                    <p>Its a fun and interactive collection of drums which you can use to play realistic drum sounds and have fun with it using your creativity, works with both mouse and keyboard</p>
                    <a class="btn btn6" href="/drum">Play</a>
                </div>
            </div>
            
        </div>
        
    </section>
    
    <script src="/index_games.js"></script>
</body>
</html>