<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_depression.css">
    <title>Depression Test</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
  <div>
    <h1>Depression Test</h1>
  </div>
  <div class="score visi2">
    <h3>You are diagnosed with:</h3>
    <h3 class="condition">Score</h3>
    <a class="try" href="">Wanna have a go at it again?</a>
  </div>
  <div class="test">
    <div class="quiz-container" id="quiz">
      <div class="quiz-header">
        <h2 id="question">Questions</h2>
        <ul class="ques1">
          <li>
              <h3>Question 1:</h3>
              <p> I couldn’t seem to experience any positive feeling at all</p>
          </li>
          <li>
            <input type="radio" name="answer" id="1a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer" id="1b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer" id="1c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer" id="1d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques2">
          <li>
              <h3>Question 2:</h3>
              <p> I just couldn't seem to get going</p>
          </li>
          <li>
              <input type="radio" name="answer2" id="2a" class="answer">
              <label for="a" id="a_text">Did not apply to me at all</label>
            </li>
            <li>
              <input type="radio" name="answer2" id="2b" class="answer">
              <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
            </li>
            <li>
              <input type="radio" name="answer2" id="2c" class="answer">
              <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
            </li>
            <li>
              <input type="radio" name="answer2" id="2d" class="answer">
              <label for="d" id="d_text">Applied to me very much, or most of the time</label>
            </li>
        </ul>

        <ul class="ques3">
          <li>
              <h3>Question 3:</h3>
              <p> I felt that I had nothing to look forward to</p>
          </li>
          <li>
            <input type="radio" name="answer3" id="3a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer3" id="3b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer3" id="3c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer3" id="3d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques4">
          <li>
              <h3>Question 4:</h3>
              <p> I felt sad and depressed</p>
          </li>
          <li>
            <input type="radio" name="answer4" id="4a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer4" id="4b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer4" id="4c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer4" id="4d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques5">
          <li>
              <h3>Question 5:</h3>
              <p> I felt that I had lost interest in just about everything</p>
          </li>
          <li>
            <input type="radio" name="answer5" id="5a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer5" id="5b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer5" id="5c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer5" id="5d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques6">
          <li>
              <h3>Question 6:</h3>
              <p> I felt I wasn't worth much as a person</p>
          </li>
          <li>
            <input type="radio" name="answer6" id="6a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer6" id="6b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer6" id="6c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer6" id="6d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques7">
          <li>
              <h3>Question 7:</h3>
              <p> I felt that life wasn't worthwhile</p>
          </li>
          <li>
            <input type="radio" name="answer7" id="7a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer7" id="7b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer7" id="7c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer7" id="7d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques8">
          <li>
              <h3>Question 8:</h3>
              <p> I couldn't seem to get any enjoyment out of the things I did</p>
          </li>
          <li>
            <input type="radio" name="answer8" id="8a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer8" id="8b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer8" id="8c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer8" id="8d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques9">
          <li>
              <h3>Question 9:</h3>
              <p> I felt down-hearted and blue</p>
          </li>
          <li>
            <input type="radio" name="answer9" id="9a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer9" id="9b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer9" id="9c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer9" id="9d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques10">
          <li>
              <h3>Question 10:</h3>
              <p> I was unable to become enthusiastic about anything</p>
          </li>
          <li>
            <input type="radio" name="answer10" id="10a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer10" id="10b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer10" id="10c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer10" id="10d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques11">
          <li>
              <h3>Question 11:</h3>
              <p> I felt I was pretty worthless</p>
          </li>
          <li>
            <input type="radio" name="answer11" id="11a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer11" id="11b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer11" id="11c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer11" id="11d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques12">
          <li>
              <h3>Question 12:</h3>
              <p> I could see nothing in the future to be hopeful about</p>
          </li>
          <li>
            <input type="radio" name="answer12" id="12a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer12" id="12b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer12" id="12c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer12" id="12d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques13">
          <li>
              <h3>Question 13:</h3>
              <p> I felt that life was meaningless</p>
          </li>
          <li>
            <input type="radio" name="answer13" id="13a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer13" id="13b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer13" id="13c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer13" id="13d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

        <ul class="ques14">
          <li>
              <h3>Question 14:</h3>
              <p> I found it difficult to work up the initiative to do things</p>
          </li>
          <li>
            <input type="radio" name="answer14" id="14a" class="answer">
            <label for="a" id="a_text">Did not apply to me at all</label>
          </li>
          <li>
            <input type="radio" name="answer14" id="14b" class="answer">
            <label for="b" id="b_text">Applied to me to some degree, or some of the time</label>
          </li>
          <li>
            <input type="radio" name="answer14" id="14c" class="answer">
            <label for="c" id="c_text">Applied to me to a considerable degree, or a good part of the time</label>
          </li>
          <li>
            <input type="radio" name="answer14" id="14d" class="answer">
            <label for="d" id="d_text">Applied to me very much, or most of the time</label>
          </li>
        </ul>

      </div>
      <button id="submit">Submit</button>
    </div>
  </div>
    
      <script src="/index_depression.js"></script>
</body>
</html>